$background-color: #1d212d;
$background-color-2:  #30374D;
$orange:  #F7612A;
$dark-orange:  #DD450E;
$yellow:  #F5BC67;
$gradient:
  linear-gradient(
  to top left,
      rgba(255, 188, 87, 1),
      rgba(247, 147, 26, 1),
      rgba(247, 97, 42, 1)
  );