@import "colors";

.header-container {
  height: 90px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1020px;

  @media (max-width: 768px) {
    justify-content: center;
  }

  @media (max-width: 1060px) {
    padding: 0 24px;
  }
}

.header {
  box-sizing: border-box;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
  background-color: $background-color;

  &__social-link {
    height: 42px;
    width: 42px;
    position: relative;

    &--main {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
    }

    &--active {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
    }

    &:hover {
      .header__social-link--main {
        display: none;
      }

      .header__social-link--active {
        display: block;
      }
    }
  }

  &__logo {
    img {
      width: 160px;
      height: 37px;

      @media (max-width: 768px) {
        width: 180px;
        height: 40px;
      }
    }
  }

  &__join-us {
    display: flex;
    gap: 20px;
    align-items: center;

    @media (max-width: 768px) {
      display: none;
    }
  }

  &__socials {
    display: flex;
    gap: 12px;
  }
}